.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: aqua;
}
.person-img{
  height: 200px;
  width: 250px;
  border: 5px solid black;
  position: relative;
  left: 40%;
}
.author{
  color: red;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.job{
  font-weight: 700;
  color: rgba(170, 43, 43, 0.659);
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
.info{
  color: blue;
  font-family: cursive;
  font-family: 35px;
  border: 2px solid red;
  border-radius: 25px;
 
}
.random-btn{
  border: 1px solid black;
  border-radius: 5px;
  background-color: #61dafb;
}